

/* ========================================
    メイン
========================================= */

/* セレクタの特殊状態：アンカー要素の通常状態
   訪問した状態：一度クリックしてからもう一度クリックした状態 */

.btn {

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    /* transition-property: all */
    position: relative;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      /* カーソルを移動させたら大きくなる */
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5px 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-gray-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }


  /* btnの子として作成される要素 親ボタンの後ろに配置 */
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    /* 親ボタンの後ろに隠す */
    top: 0;
    left: 0;
    z-index: -1;
    /* 要素が別の要素の上にある場合、その要素の位置を定義：-1で後ろ*/
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    /* 名前、長さ、タイミング、遅延 */
    animation-fill-mode: backwards;
    /* アニメーション開始前にスタイルを0%まで巻き戻す */
  }
}

/* ========================================
    Learn more →
========================================= */

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary; // 値を変更するにはフォントサイズを16→32にする必要があるのでpxでOK
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}