

/* ========================================
    リセットcss
========================================= */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* 親要素の値を継承：ページ全体の全要素のbox-プロパティを自動的に継承 */
  /* box-sizing: border-box; paddingとborderがboxに加算されない */
}

/* ========================================
    全体設定
========================================= */

html {
  font-size: 62.5%;
  /* 1rem = 10px  10/16=62.5% */
}

body {
  box-sizing: border-box;
}